<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulk Edit</title>
</head>
<body>
    <h1>Change Your Fucking Vocabulary, Bitch</h1>
    <hr>
    <form action = "/download" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" value="Upload *.ce File"/><br><br>  
        <input type = "submit" name = "Export" value="Export a spreadsheet to edit vocabulary"> 
        <hr>  
    </form>
    <form action = "/download" method = "post" enctype="multipart/form-data" >  
        <input type="file" name="file" value="Upload *.csv File"/><br><br>  
        <input type = "submit" name = "Import" value="Import a spreadsheet and convert to .ce"><br>
    </form>  
</body>
</html>