<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>
</head>
<body>
    <h1>Take down the AAC Capitalists</h1>
    <hr>
    <p>{{alert}}</p>
    <form action = "/fontHome" method = "post" enctype="multipart/form-data">  
        <input type = "submit" value="Change Fonts">  
    </form><br> 
    <form action = "/bulkEditHome" method = "post" enctype="multipart/form-data">  
        <input type = "submit" value="Bulk Edit">  
    </form>
</body>
</html>