<html>
   <head>
        <title>success</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
   </head>
   <body>
        <div class="header">
            <h1>Take down the AAC Capitalists</h1>
            <hr>
        </div>
        <div class = button_container>
            <h4>File uploaded successfully</h4><br> 
            <div class="right">
                <form action = "/fontChange" method="post">  
                    <label>Select the font to change FROM: </label>
                    <select name="fontFrom" >
                        <option></option>
                        {% for item in fonts %}
                        <option>{{ item }}</option>
                        {% endfor %}
                    </select><br><br>
                    <label>Select the font to change TO: </label>
                    <select name="fontTo">
                        <option></option>
                        {% for item in fonts %}
                        <option>{{ item }}</option>
                        {% endfor %}
                    </select><br><br>
                    <input class="button-25" type = "submit" name = "fontChange" value="Change fonts">
                </form>
            </div>
        </div>
        <div class="return_home">
            <form action="{{ url_for('index') }}">  
                <input class = "button-25" type = "submit" value="Return to Home">  
            </form> 
        </div>
   </body>
</html>